@charset "ISO-8859-1";

.ui-panel-titlebar{
    border:red;
    text-align: center;
}

.ui-panelGrid-Datos1{
    margin: 0 auto;
    text-align: center;
}

.ui-button {
    background-color: #990000; /* Red */
    /*border: 2px solid #990000;*/
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}

.topHeader {    
    margin: auto;
    width: auto;
}

.buttonsHeader {    
    margin: auto;
    vertical-align: middle;
    width: fit-content;
    text-align: center;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginClass {    
    margin: auto;
    vertical-align: middle;
    width: fit-content;
    text-align: left;
    /*font-size: 8px;*/    
}

.loginClass fieldset {
    margin: auto;
    vertical-align: middle;
    width: fit-content;
    text-align: center;
    /*margin-bottom:2000px;*/ 
}

.panelLoginClass {
    text-align: right;   
}

