<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pdsw.project.persistence.dao.mybatis.mappers.CommentMapper">
    
    <resultMap type='Comment' id='CommentResult'>
        <id property='id' column='id'/>
        <result property='description' column='content'/>
        <association property='usuario' javaType='User' resultMap='pdsw.project.persistence.dao.mybatis.mappers.UserMapper.UserResult' columnPrefix='user_'/>
        <association property='iniciativa' javaType='Initiative' resultMap='pdsw.project.persistence.dao.mybatis.mappers.InitiativeMapper.InitiativeResult' columnPrefix='initiative_'/>
    </resultMap>

    <select id='getComment' resultMap='CommentResult'>
        SELECT
            C.id                       as comment_id,
            C.content                  as comment_description,
            C.user_id                  as comment_usuario,
            C.intention_id             as comment_iniciativa
        FROM comentario as C
        WHERE id = #{comment_id}
    </select>
    
    <select id='getComments' resultMap='CommentResult'>
        SELECT
            C.id                       as comment_id,
            C.content                  as comment_description,
            C.user_id                  as comment_usuario,
            C.intention_id             as comment_iniciativa
        FROM comentario as C
    </select>
    
</mapper>