<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pdsw.project.persistence.dao.mybatis.mappers.UserMapper">
    
    <resultMap type='User' id='UserResult'>     
        <id property='id' column='ID'/> 
        <result property='name' column='Name'/>
        <result property='email' column='Email'/>
        <result property='password' column='Password'/>
        <result property='area' column='Area'/>
        <result property='role' column='Role'/>        
        <collection property='iniciativas' ofType='Initiative' resultMap='pdsw.project.persistence.dao.mybatis.mappers.InitiativeMapper.InitiativeResult' columnPrefix='Initiative_'></collection>    
    </resultMap>
    
    <select id='getUserByEmail' resultMap='UserResult'>
        SELECT *
        FROM Users
        WHERE Email = #{user_email};
    </select>    
    
    <select id='getUserByID' resultMap='UserResult'>
        SELECT *
        FROM Users
        WHERE ID = #{user_id};
    </select>
    
    <select id='getUsers' parameterType="User" resultMap='UserResult'>        
        SELECT *
        FROM Users;        
    </select>
    
    <update id="updateRole" parameterType="map">
        UPDATE Users
        SET Role = #{user_role}
        WHERE ID = #{user_id};        
    </update>
    
    <!--<delete id="deleteAll">
        DELETE
        FROM Usuario
    </delete>
    -->
    
</mapper>